#page-landing{
    text-align: center;
    min-height: 100vh;
    
    background: #EBF2F5;
    /* background-image: url("../image/pexels-anderson-guerra-1121110.jpg");
    background-size: cover; */
}



#container {
    margin: auto;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 10vh 50vh 20vh;
    grid-template-areas: "h" 
                         "a"
                         "m"
                         "f";
    grid-gap: 10px;

    width: min(90%, 112rem);
}

header {
    margin: 0;
    background: #F4CFE2;

}

#container .rodape 
h1 {
    height: 16vh;
    grid-area: h;
}

#container .rodape h1 {
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #ffdd48;

    filter: contrast(80%);

}

#container aside .categorias bottom {
    align-items: center;
    justify-content: center;

    margin: auto;

    height: 6rem;
    width: 8rem;

    background-color: #FBF6BD;
    border-radius: 2rem;
    opacity: 80%;    

    grid-area: a;

    color: gray;

    transition: background 250ms;
}

#container aside .categorias bottom:hover {
    background-color: #ffdd48;
}

main {
    grid-area: m;
}




/*Desktop version*/
@media (min-width: 760px) {
    #page-landing {
        display: flex;
        align-items: center;
        text-align: center;

        background-image: url("../image/paper-flower-background-4794429_1920.jpg");
        background-size: cover;
    }

    #container {
        padding: 5rem 2rem;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rodape, 
    h1,
    .bottom {
        height: initial;
        text-align: initial;
    }

    main h1 {
        line-height: 2.4rem;
        
        margin: clamp(10%, 9vh, 12%) 0 4rem;

        width: min(300px, 80%);    
    }

    .rodape {
        align-items: center;
        justify-content: center;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom a {
        margin: initial;
        text-align: center;
    }
}